/*html, body, div, form, img, h1, h2, h3, h4, h5, h6, a, p, ul, li, span {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.nav > li > a {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*!*width: 140px;*!*/
/*}*/
.nav > li > a > img {
    max-height: 45px;
}
body{
    background-image: url("/img/background-down.png");
    background-repeat: repeat-y;
}
a{
    text-decoration: none;
}
/*img{*/
     /*max-width: 100%;*/
     /*height: auto;*/
 /*}*/
#header{
    background-color: #8c8c8c;
}

.logo img{
    width: 10%;
}
#footer{
    background-image: url("/img/sidewalk.png");
}