<div>
    <div class="about-info">
        <div>
            <h2>Address</h2>
            <span>Sofiq str. Vidlich 48</span>
        </div>
        <div>
            <h2>Houre of operation</h2>
            <strong>Monday-Friday:</strong>
            <span>9:00-18:00</span>
        </div>
        <div>
            <h2>Contact Info</h2>
            <strong>Email Address:</strong>
            <span>venilda@gmail.com</span></br>
            <strong>Phone:</strong>
            <span>0878789387</span>
        </div>
    </div>
    <div class="about-google-maps">
        <iframe width="100%" height="100%" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9YOHft-EqkARMoHrOm_zunM&key=AIzaSyAwjNpJp1F1TUCnXwrklZ4x1_WRiIUqU2g"
                allowfullscreen>
        </iframe>
    </div>
</div>