<div class="row contacts container center-block">
    <div class="contact-info col-md-4">
        <div>
            <h3>Адрес</h3>
            <span>София ул. Видлич 48</span>
        </div>
        <div>
            <h3>Работно време:</h3>
            <strong>Понеделник - Петък:</strong>
            <span>9:00-18:00</span>
        </div>
        <div>
            <h3>Contact Info</h3>
            <strong>Email Address:</strong>
            <span>venilda.entertainment@gmail.com</span></br>
            <strong>Phone:</strong>
            <span>0878789387</span>
        </div>
    </div>
    <div class="about-google-maps col-md-8">
        <iframe width="100%" height="100%" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9YOHft-EqkARMoHrOm_zunM&key=AIzaSyAwjNpJp1F1TUCnXwrklZ4x1_WRiIUqU2g"
                allowfullscreen>
        </iframe>
    </div>
</div>