<div class="home" name="homeForm">
    <div class="home-wrap">
        <article class="product-menu">
            <h2>Top products</h2>
            <ul>
                <li>
                    <a>
                        <div class="image">
                            <img src="img/coctail4.jpg">
                        </div>
                    </a>
                    <article class="top-product">
                        <a><h3>Beer food</h3></a>
                        <p>Studena priqtna na dobre cena</p>
                    </article>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="img/coctail4.jpg">
                        </div>
                    </a>
                    <article class="top-product">
                        <a><h3>Beer food</h3></a>
                        <p>Studena priqtna na dobre cena</p>
                    </article>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="img/coctail4.jpg">
                        </div>
                    </a>
                    <article class="top-product">
                        <a><h3>Beer food</h3></a>
                        <p>Studena priqtna na dobre cena</p>
                    </article>
                </li>
            </ul>
        </article>
        <div class="location">
            <h2>Location and hours of operation</h2>
            <div class="location-map">
                <iframe width="100%" height="100%" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9YOHft-EqkARMoHrOm_zunM&key=AIzaSyAwjNpJp1F1TUCnXwrklZ4x1_WRiIUqU2g"
                        allowfullscreen>
                </iframe>
            </div>
            <span>Sofiq str. Vidlich 48</span><br>
            <strong>Mon-Fri</strong>
            <span>8am-10pm</span>
            <strong>Sat-Sun</strong>
            <span>8am-11pm</span>
        </div>
        <article class="blog-post">
            <h2>Title</h2>
            <div class="effect">
                <div id="blog">
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                    <h3>Ilian Bratanov</h3>
                    <p>The bar is veri nice, we have a projector and every night project move, football or music. We drink a beer whith nice food. We have table for 9 person and minimum for 2 person</p>
                </div>
            </div>
        </article>
    </div>
</div>